In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn.metrics import root_mean_squared_error

In [3]:
data_path = Path("/work/ts518/sta571/Imbalanced_data/data/unbalance_data.csv")

df = pd.read_csv(data_path)
display(df.head(10))

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0
5,6,0.380537,tcp,-,FIN,10,6,534,268,39.417980,...,1,40,0,0,0,2,39,0,Normal,0
6,7,0.637109,tcp,-,FIN,10,8,534,354,26.683033,...,1,40,0,0,0,1,39,0,Normal,0
7,8,0.521584,tcp,-,FIN,10,8,534,354,32.593026,...,1,40,0,0,0,3,39,0,Normal,0
8,9,0.542905,tcp,-,FIN,10,8,534,354,31.313031,...,1,40,0,0,0,3,39,0,Normal,0
9,10,0.258687,tcp,-,FIN,10,6,534,268,57.985135,...,1,40,0,0,0,3,39,0,Normal,0

In [6]:
data_path = Path("/work/ts518/sta571/Imbalanced_data/data/unbalanced_data_standardized.csv")

df_std = pd.read_csv(data_path)
display(df_std.head(10))

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label,attack_cat
0,0.121478,6,4,258,172,74.087490,252,254,14158.942380,8495.365234,...,1,1,0,0,0,1,1,0,0,Normal
1,0.649902,14,38,734,42014,78.473372,62,252,8395.112305,503571.312500,...,1,2,0,0,0,1,6,0,0,Normal
2,1.623129,8,16,364,13186,14.170161,62,252,1572.271851,60929.230470,...,1,3,0,0,0,2,6,0,0,Normal
3,1.681642,12,12,628,770,13.677108,62,252,2740.178955,3358.622070,...,1,3,1,1,0,2,1,0,0,Normal
4,0.449454,10,6,534,268,33.373826,254,252,8561.499023,3987.059814,...,1,40,0,0,0,2,39,0,0,Normal
5,0.380537,10,6,534,268,39.417980,254,252,10112.025390,4709.134766,...,1,40,0,0,0,2,39,0,0,Normal
6,0.637109,10,8,534,354,26.683033,254,252,6039.783203,3892.583740,...,1,40,0,0,0,1,39,0,0,Normal
7,0.521584,10,8,534,354,32.593026,254,252,7377.527344,4754.747070,...,1,40,0,0,0,3,39,0,0,Normal
8,0.542905,10,8,534,354,31.313031,254,252,7087.796387,4568.018555,...,1,40,0,0,0,3,39,0,0,Normal
9,0.258687,10,6,534,268,57.985135,254,252,14875.120120,6927.291016,...,1,40,0,0,0,3,39,0,0,Normal

In [14]:
simpdm_1 = pd.read_csv("/work/ts518/sta571/Imbalanced_data/SimpDM/SimpDM_imputed_unbalanced_misprop_0.3_trial0.csv",
                      header=None)

In [15]:
simpdm_1.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,1.372509,20.369848,19.009779,8847.944132,14930.604510,95418.441213,281.275659,190.116115,7.345448e+07,672122.941239,...,6.193936,5.383538,4.206255,8.729881,0.014948,0.014948,0.133066,7.184861,9.100758,0.015752
1,1.429581,20.483743,19.351384,8854.360399,15340.740109,95419.166641,204.575477,189.245985,7.345430e+07,725583.428906,...,6.193936,5.383538,4.206255,8.901071,0.014948,0.014948,0.133066,6.955789,9.982473,0.015752
2,1.534693,20.398322,19.130346,8849.372965,15058.167831,95408.530857,204.575477,189.245985,7.345408e+07,677784.981586,...,6.354985,5.383538,4.206255,9.072260,0.014948,0.014948,0.133066,7.193278,9.202416,0.015752
3,1.541013,20.455269,19.090157,8852.931566,14936.466110,95408.449306,204.575477,189.245985,7.345412e+07,671568.253030,...,6.354985,5.383538,4.206255,9.072260,0.046460,0.046460,0.133066,7.210110,9.100758,0.015752
4,1.407931,20.426795,19.029874,8851.664488,14931.545502,95411.707153,282.083029,189.245985,7.345430e+07,671636.114544,...,6.354985,5.544480,4.206255,15.406287,0.014948,0.014948,0.133066,7.096831,15.801791,0.015752

In [10]:
fd_1 = pd.read_csv("/work/ts518/sta571/Imbalanced_data/ForestDiffusion/ForestDiff_fast_imputed_imbalanced_trial0.csv",
                      header=None)

In [11]:
fd_1.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.0,6.0,4.0,258.0,8.0,74.087490,252.0,254.0,14158.942380,8495.365234,...,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,1.0,14.0,38.0,734.0,85.0,78.473372,62.0,252.0,8395.112305,503571.312500,...,1.0,1.0,2.0,0.0,0.0,0.0,1.0,6.0,0.0,0.0
2,2.0,8.0,16.0,364.0,69.0,14.170161,62.0,252.0,1572.271851,60929.230470,...,1.0,1.0,3.0,0.0,0.0,0.0,2.0,6.0,0.0,0.0
3,2.0,12.0,12.0,628.0,18.0,13.677108,62.0,252.0,2740.178955,3358.622070,...,1.0,1.0,3.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0
4,0.0,10.0,6.0,534.0,10.0,33.373826,254.0,252.0,8561.499023,3987.059814,...,2.0,1.0,40.0,0.0,0.0,0.0,2.0,39.0,0.0,0.0

RMSE

In [24]:
root_mean_squared_error(fd_1.iloc[:, :-1], df_std.iloc[:fd_1.shape[0], :-2])

2809.206839571907

In [22]:
root_mean_squared_error(simpdm_1.iloc[:, :], df_std.iloc[:, :-2])

56216190.397554375